<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title> MakersBnB </title>
  </head>
  <body>
    <%= partial :welcome %>
    <br>
    <%= partial :flash %>
    <br>
    <%= yield %>
  </body>
</html>
