<% if !current_user %>
<div>
  <h3>Hi! Please sign in to MakersBnB</h3>

  <form action="/sessions" method="post">
    <label for="email">Email:</label>
    <input type="email" name="email">
    <label for="password">Password:</label>
    <input type="password" name="password">
    <input type="submit" value="Sign in">
  </form>
</div>
<br>
<% end %>

These are the spaces you can rent:

<ul id='all spaces'>
  <% @spaces.each do |space| %>
  <li>
    <%= space.name %>
    <br>
    <%= space.description %>
    <br>
    <%= space.price %>
  </li>
  <br>
  <% end %>
</ul>
