<h3>List a new space</h3>

<form action="/spaces" method="post">
  <label for="name">Name:</label>
  <input type="text" name="name">
  <br>
  <label for="description">Description:</label>
  <input type="text" name="description">
  <br>
  <label for="price">Price:</label>
  <input type="number" name="price" min="0" max="1000">
  <br>
  <label for="start_date">Start from:</label>
  <input type="date" name="start_date">
  <br>
  <label for="end_date">End on:</label>
  <input type="date" name="end_date">
  <br>
  <input type="submit" value="List">
</form>
