<h3>List a new space</h3>

<form action="/peeps" method="post">
  <label for="content">Details:</label>
  <input type="text" name="name">
  <input type="text" name="description">
  <input type="number" name="price" min="0.1" max="1000">
  <input type="submit" value="List">
</form>
